.cartCard{
    display: flex;
    flex-direction: column;
    outline: 1px solid rgba(128, 128, 128, 0.329);
    border-radius: 0.25rem;
    background-color: #fff;
}

.upperSection{
    display: flex;
    border-radius: 0.25rem 0.25rem 0 0;
}
.imageAndQuantity{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.25rem;
    padding: 1%;
}

.quantityCheck{
    display: flex;
    /* background-color: aqua; */
    color: #000;
    width: 50%;
    min-width: 47px;
    gap: 5px;
    padding: 5%;
    outline: 1px solid rgba(0, 0, 0, 0.47);
    border-radius: 0.125rem;
    >select{
        width: 100%;
        border: none;
    }
}

.imageContainer{
    width: 100%;
    >img{
        width: 100%;
    }
}

.nameContainer{
    flex: 3;
}

.priceContainer{
    flex: 3;
}

.buttonsSection{
    border-radius: 0 0 0.25rem 0.25rem;
    display: flex;
    border-top: 1px solid rgba(128, 128, 128, 0.204);
    background-color: rgba(128, 128, 128, 0.204);
    gap: 1px;
    >button{
        flex: 1;
        color: rgb(0, 89, 255);
        border: none;
        padding: 1%;
        background-color: #fff;
        
    }
    >button:first-child{
        border-bottom-left-radius: 0.25rem;
    }
    >button:last-child{
        border-bottom-right-radius: 0.25rem;
    }
}