* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

button {
  cursor: pointer;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e4252a;
  gap: 1rem;
  padding: 0.5rem 2rem 0.3rem 3rem;
  > img {
    width: 10rem;
    cursor: pointer;
  }
  > form {
    flex: 1;
    display: flex;
    justify-content: center;
    > input {
      width: 50%;
      min-width: 190px;
      padding: 0.7rem 0.75rem;
      border-radius: 3rem 0 0 3rem;
      border: none;
    }
    > input:focus {
      outline: none;
    }
    > button {
      padding: 0.7rem;
      border-radius: 0 3rem 3rem 0;
      border: none;
      background-color: #fff;
      color: #bbb;
    }
  }
}
.navBar .list-container {
  > ul {
    display: flex;
    list-style: none;
    font-size: 13px;
    font-weight: 600;
    > .list-item-one::after,
    .list-item-two::after {
      content: "";
      border-right: 1px solid white;
      margin: 0 0.75rem;
      align-self: stretch;
    }
    > .list-item-two,
    .list-item-three {
      > svg {
        padding-right: 10px;
      }
    }
    > .list-item-three {
      > a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.navBar li {
  cursor: pointer;
}

.categories-bar {
  background-color: #003380;
}

.categories-bar ul {
  /* display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  /* justify-content: center; */
  list-style: none;
}

.categories-bar ul li {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  padding: 0.75rem;
}

.categories-bar ul li:hover {
  background-color: #e4252a;
  cursor: pointer;
}