.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e4252a;
  gap: 1rem;
  padding: 0.5rem 2rem 0.3rem 3rem;
  > form {
    /* flex: 1; */
    width: 38%;
    display: flex;
    justify-content: center;
    > input {
      flex: 1;
      /* width: 50%; */
      min-width: 190px;
      padding: 0.7rem 0.75rem;
      border-radius: 2rem 0 0 2rem;
      border: none;
    }
    > input:focus {
      outline: none;

    }
    > button {
      padding: 0.7rem;
      padding-right: 1rem;
      border-radius: 0 2rem 2rem 0;
      border: none;
      background-color: #fff;
      color: #bbb;
      >svg{
      font-size: 16px;
      }
    }
  }
}
