.navList {
  background-color: #e4252a;
  /* position: sticky; */
}
.navList ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  font-weight: 700;
  > li {
    flex: 1;
    padding: 0.5rem;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    > a {
      text-decoration: none;
      color: white;
    }
  }
}

@media screen and (width<800px) {
  .navList ul{
    font-size: 12px;
    >li{
      padding: 0.25rem;
    }
  }
}