.appStoreCard {
    text-decoration: none;
    color: #fff;
    display: flex;
    background-color: black;
    align-items: center;
    gap: 5px;
    border-radius: 0.3rem;
    border: 1px solid white;
    padding: 5px 7px;
    > div {
      > p {
        font-size: 10px;
      }
      > h3 {
        font-weight: 400;
        font-size: 16px;
      }
    }
    > svg {
      height: 1.5rem;
    }
  }