.socialMediaAndStoreLinks {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.socialMediaLinksContainer {
  > h3 {
    font-size: 16px;
  }
  > div {
    display: flex;
    > svg {
      margin: 1rem 10px 10px 0;
    }
  }
}

.storeLinksContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  > h3 {
    font-size: 16px;
  }
  > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: fit-content;
  }
}
